/* This is the on load reset values */ 
  * {padding: 0; margin: 0;}
  
  body { font-family: sans-serif; color: #000; background: #E5DAC0;}


/*=============================================
  =        iPads portrait and landscape       = 
  ============================================= */
@media only screen and (min-width:1224px){
	
	#Mcontainer {	   
     display: block;
     float: left;     
     width:100%;     
	  height:auto;
	  border: 2px solid #000;   	   
	}	

   #bTitle {
     display: block;	
     float:left;
     width:225px;
	  height:25px;
	  padding-top: 2px;
	  padding-bottom: 4px;
	  margin-bottom: 5px;
	  background: #08A;	       
      
     color: #FFF;      
     font-size: 16pt;       	  
  	  font-family: sans-serif;
     font-weight: bold;
     text-align:center;
     text-shadow: 1px 1px 1px #000;        
	  border: 2px solid #000;      
   }
   	 
   #Scontainer {
	   width:100%;
	   height:auto;
	   float:left;      
       
   }
   
   .wintype {
     display: none;
     /*border: 2px solid #000;*/
     width: 100%;
	  height: auto;          	
     float: left;
     left:0px;
     margin-bottom: 20px;     
     font-size: 12pt;  	  
  	  font-family: sans-serif;
     font-weight: bold;
     text-align:center;            
   
   }
   
   .btype {
     display: none;
     /*border: 2px solid #000;*/
     width: 100%;
	  height: auto;     	
     float: left; 
     margin-bottom: 20px;
              
     font-size: 14pt;  	  
  	  font-family: sans-serif;
     font-weight: bold;    
   }
   
   .sMaster{
     display: block;
     float: left;
     width: 100%;
     height: auto;           
   }   
   
   .ItemCont1{
     display: block;
     float: left;
     width: 12%;
	  height: auto;
     margin-bottom: 20px; 	            	
     border: 2px solid #000;      
   
   }
   .ItemCont2{
     display: block;
     float: left;
     width: 75.5%;
	  height: auto; 
     margin-bottom: 20px;
     border: 2px solid #000;         
   }
   
   .ItemCont3{
     display: block;
     float: left;
     width: 11%;
	  height: auto; 
     margin-bottom: 20px;     
   }      
        
	.btnClass {
     display: none;
     float: left;     
     /*border: 2px solid #000;*/
     width: 100%;
	  height: 44px;     	 
     margin-bottom: 20px;     
         
     font-size: 12pt;  	  
  	  font-family: sans-serif;
     font-weight: bold; 	  
	} 	
}