/* This is the on load reset values */ 
  * {padding: 0; margin: 0;}
  
  body { font-family: sans-serif; color: #FFF;}

/* This removes the hyperlink underline */
  a {text-decoration: none; color: #00A5CC;}

/* This removes the bullets from list items */
  li {list-style-type: none;}

       
/*=============================================
  = This is the phone portrait and landscape  = 
  ============================================= */
/* @media only screen and (min-device-width:320px) and (max-device-width:480px) { */
@media only screen and (min-width:700px) and (max-width:1223px) {
	
	#TabWrapper {
	   
	   width:100%;
	   height:1937px;
	   background:#FFF;
	 }	
	 
	#leftSection {		
	   float: left;
	   width: 95%;   //69.5%;
	  /* height:1825px; */
	   height: auto;
	   background:#FFF;	   	
	}	
	

    #PhoneWrapper{
       display: none;
    }
    
  header {
   width: 800px; 
   height: 149px;
   margin: auto; 
   border-bottom: 1px solid #EEE;
   background: #08A;
   font-family: sans-serif;
   text-shadow: 1px 1px 1px #000;
  }
  
.
/* This is the div tag inside the header */     
  #brand {    
    float: left;
    line-height: 120px;
    color: #E5DAC0;
          
  }
  
  p {
  	border: 5px double #000;
 	padding-top: 5px;
  	padding-left: 3px;
  	font-family: sans-serif;
  	font-weight: bold; 

   color: #fff;
   font-size: 14pt;
   background: #08A;
   text-shadow: 2px 2px 2px #000;
      
  }
  
  #BizTitle {

    float: left;
    width: 227px;
    height: 35px;
    margin-left: 15px;
    margin-right: 53px;
    margin-top: 15px; 
    padding: 10px 10px 10px 10px;
    
  	 text-align:center;
  	 font-size: 23pt;
  	 font-weight: bold;
    text-shadow: 2px 2px 2px #000;
    
    background: #08A;  	 
  	 border: 4px solid #000;
  	 border-radius: 8px 25px 10px 25px;
  	 box-shadow: inset 2px 2px 2px 4px #fff;     
  }
  
  #labelHolder {   	 
   float: left;   
   width: 713px;              
  }
  
  .fTitles{
  	padding-top: 12px;
  	padding-right: 5px;
  	padding-left: 4px;
  	float: left;
  	font-family: sans-serif;
  	font-weight: bold;
  	text-align:center; 
   color: #000;
	cursor: pointer;     
  }
  
  .fTitles2{
  	padding-top: 12px;
  	padding-bottom: 5px;
  	padding-right: 1px;
  	padding-left: 4px;
  	float: left;
  	font-family: sans-serif;
  	font-weight: bold;
  	text-align:center; 
   color: #000;
	cursor: pointer;     
  }  
  
  .t1 {
     	   	
	  float: left;
	  margin-right: 5px;
     margin-bottom: 50px;
     	  
	  height: 75px;
	  width: 95px;
  	  font-family: sans-serif;
     font-weight: bold;
     text-align:center; 
     color: #000;	     
  }


  .t2 {
      	   	
	  float: left;
	  margin-right: 5px;
     margin-bottom: 50px;	
     padding-left: 6px;
       
	  height: 45px;
	  width: 39px;
  	  font-family: sans-serif;
     font-weight: bold;
     text-align:center; 
     color: #000;	     
  }
  
  .t3 {

    float: left;
    height: 100px;
    width: 400px;
    margin-top: 4px;
    margin-bottom: 24px;
    margin-left: 1px;
  }
  
    
  .Ordercell {		
	  float: left; 
	  width: 50px; 
	  height: 25px;
	  top: 0px;
	  margin: 2.5px;
	  margin-top: 7px;
	  margin-bottom: 10px;
	  padding: 5px;
	  /*border: 1px solid #000;*/
	  /*background: White;*/
	  cursor: pointer;
	  
	  text-align: center;
	  vertical-align: top;
	  line-height: 25px;       /* the same as your div height */  
	  font-family: "san-serif";
	  font-size: 12pt;
	  font-weight: bold;
	  color: #000;
	  /* text-shadow: 1px 1px 1px #08A; */
	} 
	
	.qtyN {
		display: block;
     float: left;
     width: 25px;
     height: 25px;
     margin-top: 9px;
     margin-bottom: 5px;
     margin-right: 3px;
     text-align: center;
     font-weight: bold;	
	}	
   	
	.DrinkN{
     float: left;
     margin-left: 5px;
     margin-right: 8px;	
     width: 25px;
     height: 25px;
     margin-top: 5px;
     text-align: center;
     font-weight: bold;	     
	}
	
	.Spaces {
     float: left;
     margin-left: 5px;
     margin-right: 8px;	     	
	
	}
	
	#MasterTopContainer {
	 /* border: 1px solid #000; */
	 float: left;
	 
	 top: 1%;
	 height: 92px;
	 width: 390px;
	
	}
	
     
   #Top1{
   	    	 
       /*position: absolute; */
       float: right;
       /*left: 0%; */
       /*top: 5.5%; */
       margin-top: 5px;
       margin-bottom: 10px;
       font-weight: bold;
       font-size: 14pt;
       
       text-shadow: 1px 1px 1px #000;     
   }
      
   .TopButtonsContainer { 
       
      display: inline-block;       
      float: right;
      top: 5px;
      
      width: 380px;		    
      font-weight: bold;
      font-size: 14pt;   
   }
   
   #TB1, #TB2, #TB3 {
     border: 1px solid #fff;   	
     float:left;
     margin-left: 5px;
     background: #000;
     border-radius: 5px;
     padding: 5px;
     box-shadow: 1px 1px 1px 1px #E5DAC0; 
     
     cursor: pointer;   
   }

   label{
  /* This is for the window selection at the top of the page */        
       display: inline-block;      
       cursor:pointer;
       padding: 5px 10px;  
   }
     
   .window{ 
       padding-top: 10px;       
       margin-top:5px;
       display:none;  
   }
  
   .window:checked + label{
   	
      background-color: #000;
      color: #fff;
      border-radius: 5px;
      border: 1px solid #fff;   
   }	
   
   .condments{ 
       padding-top: 10px;       
       margin-top:5px;
       display:none;  
   }   
   
   .condments:checked + label {
      background-color: #000;
      color: #fff;
      border-radius: 3px; 
         
   }
   
   #Wsauce {
      float: left;
      padding-left: 25px;
      padding-top: 7px;
      font-family: sans-serif;
      font-size: 12pt;
      font-weight: bold;
      color: #000;
   }   
      
   #Nsauce {
      float: left;
      padding-left: 65px;
      padding-top: 7px;
      font-family: sans-serif;
      font-size: 12pt;
      font-weight: bold;
      color: #000;
   }
   
   .DrinkMasterContainer {
      float: left;
      padding-top: 5px;
      height: 100%;
      width: 100%;      
   
   }
   
   .drinkContainer {   	
      display: none;
      float:left;
      width: 600px;
      height: 300px;
      
      font-family: sans-serif;
      font-size: 12pt;
      color: #000;   
   
   }
   
   .drinkQtyContainer {

	   float: left;
	   height: 50px;   
       width: 78px;
   }
   
   .drinkTitles{
 
  	   padding-top: 12px;
   	padding-right: 5px;

  	   float: left;
   	font-family: sans-serif;
  	   font-weight: bold;
  	   text-align:center; 
      color: #000;  
   
   }
   
   .titleLoad{
  	padding-top: 5px;
  	padding-left: 3px;
  	font-family: sans-serif;
  	font-weight: bold; 
   color: #000;
   font-size: 14pt;   
   }
   
   .IceContainer {    
     float: left;
     margin-left: 18px;
     margin-bottom: 12px;
     width: 400px;
     height: 229px;   
   
   }
   
   .ExIce {
     border: 3px solid #000;
     width: 95px;
     height: 93px;
     float: left;
     margin-left: 12%;       
   }

   .LtIce {
     border: 3px solid #000;
     width: 95px;
     height: 93px;
     float: left;
    /* margin-left: 2%; */       
   }

   .NoIce {
     border: 3px solid #000;
     width: 95px;
     height: 93px;
     float: left;
    /* margin-left: 2%; */       
   }
   
   .IceTitles {
  	  padding-top: 12px;
  	  padding-right: 5px;
  	  padding-left: 38%;
  	  float: left;
  	  font-family: sans-serif;
  	  font-weight: bold;
  	  text-align:center; 
     color: #000;      
   }
   
   .IceTxtBox {
     padding-top: 4px;
         
   }
   
   .IceType {
   	float: left;
      margin-left: 7px;   
      font-weight: bold;
   }
   
   .ArrowContainer{
     float:left;
     width:50px;
     height:75px;   
   }
   
   .Arrows {	
      border: 3px double #08A;
      border-radius: 5px;
      box-shadow: 2px 2px 2px 2px #666;
      background: #000;
      cursor: pointer; 
     
  	   float: left;
  	   margin-top: 1px;
  	   font-family: sans-serif;
  	   font-size: 24pt;
  	   font-weight: bold;
  	   text-align:center; 
      color: #fff;
      text-shadow: 1px 1px 1px #fff;       
   }   

   .csOrderItems {
    float: left;

    margin-bottom: 5px;   
   
   }
   
   #BurTxtBx {
     float: left;
     /*border: 1px solid #000;*/
     width: 100%;
     height: 75px;
   
   }
   
   .BodyTitles {
     float: left;
     width: 100%;
     height: 50px;
     margin-top: 3px;
     margin-bottom: 5px;   
    
   }     	
/**************************************************
  
              Navigation CSS Section
                                 
***************************************************/
  
  nav {width: 100%; text-align: center;}
  
  nav a {
    display: block;     
    padding: 15px 0;  
    color: #333;
    border-left: 1px solid #E5DAC0;
    border-bottom: 1px solid #E5DAC0;    
    
  }
  
  nav a:hover {background: #E5DAC0; color: #3A5 !important; }


/* This removes the last border line from the list item */    
  
  nav li {
	float: left;
	width: 50%;
	
}
  
  .SecHeader {
  
  /* The text color */
    color: #F0EADC; 

    text-shadow: 1px 1px 1px #000;
    /* border-top: 1px solid #E5DAC0; */
    border-bottom: 1px solid #E5DAC0;
  
  }  

/**************************************
  Action section of the Navigation CSS
***************************************/

.menu {

  width: 240px;
  height: 100%;
  position: absolute;
  background:#D9C9A3;
  left: -240px;
  z-index: 99;
  transition: all .3s ease-in-out; 
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;  
  
}

.menu-icon {

  padding: 10px 20px;
  background: #E5DAC0;
  color: #987D3E;
  cursor: pointer;
  float: left;
  margin: 5px 5px;
  border-radius: 5px;
  font-size: 14pt;  
}

.menu-icon:hover {color: #000;} 

#menuToggle {display: none;}

#menuToggle:checked ~ .menu { position: absolute; left: 0; }


#menuToggle:checked ~ #leftSection {
  position: absolute; 
  left: 245px; 
  transition: all .3s ease-in-out; 
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;     
}

/* /////////////////////////////////////////////////////// */

.menu2 {

  width: 240px;
  height: 100%;
  position: absolute;
  background:#D9C9A3;
  left: -240px;
  z-index: 199;
  transition: all .3s ease-in-out; 
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;  
  
}

.menu2-icon {

  padding: 10px 20px;
  background: #E5DAC0;
  color: #987D3E;
  cursor: pointer;
  float: left;
  margin: 5px 5px;
  border-radius: 5px;
  font-size: 14pt;  
}

.menu2-icon:hover { color: #000;}

#menuToggle2 {display: none;}

#menuToggle2:checked ~ .menu2 { position: absolute; left: 0; }

#menuToggle2:checked ~ #leftSection {
  position: absolute; 
  left: 245px; 
  transition: all .3s ease-in-out; 
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;     
}

/* /////////////////////////////////////////////////////// */

.menu3 {

  width: 240px;
  height: 100%;
  position: absolute;
  background:#D9C9A3;
  left: -240px;
  z-index: 299;
  transition: all .3s ease-in-out; 
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;  
  
}

.menu3-icon {

  padding: 10px 20px;
  background: #E5DAC0;
  color: #987D3E;
  cursor: pointer;
  float: left;
  margin: 5px 5px;
  border-radius: 5px;
  font-size: 14pt;    
}

.menu3-icon:hover{color: #000;}

#menuToggle3 {display: none;}

#menuToggle3:checked ~ .menu3 { position: absolute; left: 0; }

#menuToggle3:checked ~ #leftSection {
  position: absolute; 
  left: 245px; 
  transition: all .3s ease-in-out; 
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;     
}

/* /////////////////////////////////////////////////////// */

.menu4 {

  width: 240px;
  height: 100%;
  position: absolute;
  background:#D9C9A3;
  left: -240px;
  z-index: 399;
  transition: all .3s ease-in-out; 
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;  
  
}

.menu4-icon {

  padding: 10px 20px;
  background: #E5DAC0;
  color: #987D3E;
  cursor: pointer;
  float: left;
  margin: 5px 5px;
  border-radius: 5px;
  font-size: 14pt;    
}

.menu4-icon:hover { color: #000;}

#menuToggle4 {display: none;}

#menuToggle4:checked ~ .menu4 { position: absolute; left: 0; }

#menuToggle4:checked ~ #leftSection {
  position: absolute; 
  left: 245px; 
  transition: all .3s ease-in-out; 
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;     
}

/* /////////////////////////////////////////////////////// */

.menu5 {

  width: 240px;
  height: 100%;
  position: absolute;
  background:#D9C9A3;
  left: -240px;
  z-index: 499;
  transition: all .3s ease-in-out; 
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;  
  
}

.menu5-icon {

  padding: 10px 20px;
  background: #E5DAC0;
  color: #987D3E;
  cursor: pointer;
  float: left;
  margin: 5px 5px;
  border-radius: 5px; 
  font-size: 14pt;   
}

.menu5-icon:hover { color: #000;}

#menuToggle5 {display: none;}

#menuToggle5:checked ~ .menu5 { position: absolute; left: 0; }

#menuToggle5:checked ~ #leftSection {
  position: absolute; 
  left: 245px; 
  transition: all .3s ease-in-out; 
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;     
}
/* /////////////////////////////////////////////////////// */

.menu6 {

  width: 240px;
  height: 100%;
  position: absolute;
  background:#D9C9A3;
  left: -240px;
  z-index: 499;
  transition: all .3s ease-in-out; 
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;  
  
}

.menu6-icon {

  padding: 10px 20px;
  background: #E5DAC0;
  color: #987D3E;
  cursor: pointer;
  float: left;
  margin: 5px 5px;
  border-radius: 5px;
  font-size: 14pt;    
}

.menu6-icon:hover { color: #000;}

#menuToggle6 {display: none;}

#menuToggle6:checked ~ .menu6 { position: absolute; left: 0; }

#menuToggle6:checked ~ #leftSection {
  position: absolute; 
  left: 245px; 
  transition: all .3s ease-in-out; 
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;     
}

/* /////////////////////////////////////////////////////// */

.menu7 {

  width: 240px;
  height: 448px;
  position: absolute;
  margin-top: 15px;
  background:#D9C9A3;
  left: -400px;
  z-index: 499;
  transition: all .3s ease-in-out; 
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;  
  
}

.menu7-icon {

  padding: 10px 20px;
  background: #E5DAC0;
  color: #987D3E;
  cursor: pointer;
  float: left;
  margin: 4px 2px;
  border-radius: 5px;  
}

#menuToggle7 {display: none;}

#menuToggle7:checked ~ .menu7 { position: absolute; left: 0; top: 375px;}    
	 
	
}