/* This is the on load reset values */ 
  * {padding: 0; margin: 0;}
  
  body { font-family: sans-serif; color: #000; background: #E5DAC0;}


/*=============================================
  =                   Desktop                 = 
  ============================================= */
@media only screen and (min-width:1224px){
	
	#Mcontainer {	   
     display: block;
	  float: left;     
     width:100%;
	  height:auto;
	  border: 2px solid #000;   	   
	}
	
	.TitleHolder {
     float:left;	
     width:100%;
	  height:25px;
	  margin-bottom: 13px;	   	      
	}
	
	.TitleCont{
     float:left;	
     width: 49.7%;
	  height: auto;	
	}	

   .bTitle {
     display: block;	
     float:left;
     width:225px;
	  height:25px;
	  padding-top: 2px;
	  padding-bottom: 4px;
	  margin-right: 157px;
	  margin-left: 2px;	  
	  margin-bottom: 5px;
	  background: #08A;	       
      
     color: #FFF;      
     font-size: 18pt;       	  
  	  font-family: sans-serif;
     font-weight: bold;
     text-align:center;
     text-shadow: 1px 1px 1px #000;              
   }
   	 
   #Fcontainer {
	   float:left;
	   width:49.5%;
	   height:600px;
	   overflow-y: auto;
	   border: 2px solid #000; 	           
   }
   
   #Dcontainer {
   	display: block;
	   float:left;   	
   	width: 48.4%;
	   height:600px;
	   overflow-y: auto;     
      border: 2px solid #000;        
   } 
   	 
   #Wcontainer {
   	display: block;
	   float:left;   	
	   width:49.5%;
	   height:250px;
	   overflow-y: auto;
	   border: 2px solid #000;      
       
   }
   
   #Ncontainer {
   	display: block;
	   float:left;   	
   	width: 48.4%;
	   height:250px;
	   overflow-y: auto;	   
      border: 2px solid #000;        
   }
   
   .fdMaster{
     display: block;
     float: left;
     width: 100%;
     height: auto;           
   }
   
   .ItemCont1{
     display: block;
     float: left;
     width: 18%;
	  height: auto;
     margin-bottom: 20px; 	 
   }
   
   .ItemCont2{
     display: block;
     float: left;
     width: 65%;
	  height: auto; 
     margin-bottom: 20px;
     margin-left:4px;            
   }
   
   .ItemCont3{
     display: block;
     float: left;
     width: 15%;
	  height: auto; 
     margin-bottom: 20px;
     margin-left:4px;     
   } 
           
   .wintype {
     display: none;
     width: 100%;
	  height: auto;          	
     float: left;
     left:0px;    
     font-size: 12pt;  	  
  	  font-family: sans-serif;
     font-weight: bold;
     text-align:center;
     /*border: 2px solid #000;*/  
   }
   
   .ftype {
     display: none;
     float: left;     
     width: 100%;
	  height: auto;     	 
              
     font-size: 14pt;  	  
  	  font-family: sans-serif;
     font-weight: bold;
     /*border: 2px solid #000;*/ 
   }
   
   .dtype {
     display: none;
     float: left; 
     width: 100%;
	  height: auto;     	
     font-size: 14pt;  	  
  	  font-family: sans-serif;
     font-weight: bold;
     /*border: 2px solid #000;*/    
   }

   .wtype {
     display: none;
     width: 100%;
	  height: auto;     	
     float: left; 
              
     font-size: 14pt;  	  
  	  font-family: sans-serif;
     font-weight: bold;
     /*border: 2px solid #000;*/ 
   }
   
   .ntype {
     display: none;
     width: 100%;
	  height: auto;     	
     float: left; 
              
     font-size: 14pt;  	  
  	  font-family: sans-serif;
     font-weight: bold;
     /*border: 2px solid #000;*/     
   }
              
	.btnClass {
     display: none;
     float: left;
     /*border: 2px solid #000;*/
     width: 100%;
	  height: 44px;     	      
         
     font-size: 12pt;  	  
  	  font-family: sans-serif;
     font-weight: bold; 	  
	} 	
}