/* This is the on load reset values */ 
  * {padding: 0; margin: 0;}
  
  body { font-family: sans-serif; color: #000; background: #E5DAC0;}


/*=============================================
  =        iPads portrait and landscape       = 
  ============================================= */
@media only screen and (min-width:481px) and (max-width:699px) {
	
	#cvContainer {	   
     display: block;
     width:100%;
	  height:100%;
	  float: left;
	  /*border: 2px solid #000;*/   	   
	}
	
  #BizTitle {

    float: left;
    /*width: 227px;*/
    width: 90%;
    height: 35px;
    margin-left: 1%;
    margin-right: 1%;
    /*margin-right: 53px;*/
    margin-top: 8%; 
    padding: 10px 10px 10px 10px;
    
  	 text-align:center;
  	 font-size: 23pt;
  	 font-weight: bold;
  	 color: #FFF;
    text-shadow: 2px 2px 2px #000;
    
    background: #08A;  	 
  	 border: 4px solid #000;
  	 border-radius: 8px 25px 10px 25px;
  	 box-shadow: inset 2px 2px 2px 4px #fff;     
  }
  	
	#cvCustTitle {
	  display: block;
     float:left;	
     width:100%;
	  /*height:40px;*/
	  height:auto; 
	  margin-top: 8%;
	  margin-bottom: 9px;

     /*border: 2px solid #000;*/     	
     float:left;   	  	      
	}	

   
   #cvCustID {
     display: block;	
     float:left;
     width:95%;
	  /*height:25px;*/
	  height:auto;
	  padding-top: 2px;
	  padding-bottom: 4px;
	  margin-right: 157px;
	  margin-left: 10px;	  
	  margin-bottom: 5px;
	  background: #08A;	       
      
     color: #FFF;      
     font-size: 16pt;       	  
  	  font-family: sans-serif;
     font-weight: bold;
     text-align:center;
     text-shadow: 1px 1px 1px #000;        
	  border: 2px solid #000;      
   }
   
   #cvCarTitle {
	  display: block;
     float:left;	
     width:100%;
	  /*height:40px;*/
	  height:auto;	   
	  margin-bottom: 9px;
     /*border: 2px solid #000;*/     	
     float:left;   	         
   }
   
   #cvCarDesc {
     display: block;	
     float:left;
     width:95%;
	  /*height:25px;*/
	  height:auto;	  
	  padding-top: 2px;
	  padding-bottom: 4px;
	  margin-right: 157px;
	  margin-left: 10px;	  
	  margin-bottom: 5px;
	  background: #08A;	       
      
     color: #FFF;      
     font-size: 16pt;       	  
  	  font-family: sans-serif;
     font-weight: bold;
     text-align:center;
     text-shadow: 1px 1px 1px #000;        
	  border: 2px solid #000;   
   }
   
   #cvOrderTitle {
	  display: block;
     float:left;	
     width:100%;
	  /*height:40px;*/
	  height:auto;	   
	  margin-bottom: 9px;
     /*border: 2px solid #000;*/     	
     float:left;       
     
   }
   
   #cvOrderItems {
     display: block;	
     float:left;
     width:95%;
	  /*height:25px;*/
	  height:auto;	  
	  padding-top: 2px;
	  padding-bottom: 4px;
	  padding-left: 5px;
	  margin-right: 157px;
	  margin-left: 10px;	  
	  margin-bottom: 5px;
	  background: #08A;	       
      
     color: #FFF;      
     font-size: 16pt;       	  
  	  font-family: sans-serif;
     font-weight: bold;
     /*text-align:center;*/
     text-shadow: 1px 1px 1px #000;        
	  border: 2px solid #000;    
   }
   
   .cvBtnHolder{
     display: block;
     /*border: 2px solid #000;*/     	
     float:left;   
     width:100%;
	  height:51px;
	     
   }
   
	.btnClass {
     display: block;
     /*border: 2px solid #000;*/
     width: 95%;
	  height: 50px;     	
     float: left;     
     margin-left: 10px;
         
     font-size: 12pt;  	  
  	  font-family: sans-serif;
     font-weight: bold; 	  
	}  
	
}