/* This is the on load reset values */ 
  * {padding: 0; margin: 0;}
  
  body { font-family: sans-serif; color: #000; background: #E5DAC0;}
  

/*=============================================
  =        iPads portrait and landscape       = 
  ============================================= */
/*@media only screen and (max-width:480px) {*/
@media only screen and (min-width:481px) and (max-width:699px) { 
    
    #TabWrapper {
       display: none;
    }

	#PhoneWrapper {	   
      display: block;
      width:100%;
	  height:100%;
	  float: left;
	  /*border: 2px solid #000;*/   	   
	}
	
	#dBoxContainer {	   
      display: block;
      width:100%;
	  height:100%;
	  float: left;
	  /*border: 2px solid #000;*/   	   
	}
	
	#pMessBoxContainer{
	  display: none;
	  position: fixed;
	  width: 100%;
	  height: 100%;
	  top: 0px;
	  left: 0px;
	  background: #FFF;
	  z-index: 5;
	  opacity: .8;
	}
	
	#p2MessBoxHead{
	   display: none;
	   position: fixed;
	   width: 75%;
	   height: 5%;
	   top: 25%;
	   left: 13.5%;
	   background: #08A;
  	   padding-top: 3%;
  	   
	   color: #FFF; 
	   font-weight: bold;
	   font-size: 18pt; 
       text-align: center;
       
	   text-shadow: 2px 2px 2px #000; 
	   border: 2px solid #000;
	   border-radius: 4px;
	   
	   z-index: 10;
	   cursor: pointer;	   
	}
	
	#p2MessBoxBody{
	   display: none;
	   position: fixed;
	   width: 75%;
	   height: 15%;
	   top: 31.5%;
	   left: 13.5%;
	   background: #777;
  	   padding-top: 4%;
  	   
	   color: #FFF; 
	   font-weight: bold;
	   font-size: 17pt; 
       text-align: center;
       
	   text-shadow: 1.5px 1.5px 1.5px #000; 
	   border: 2px solid #000;
	   border-radius: 4px;
	   
	   z-index: 10;
	   cursor: pointer;		
	}
  
  #DisPriceContainer{
    display: block;
    float: left;
    width: 72%;
    height: auto;
  }
  
  #BagContainer{
    display: block;
    float: left;
    width: 24%;
    height: auto;
    background: #777;
	text-align: center;
	color: #999; 
	font-weight: bold;
	font-size: 16pt; 
	cursor: pointer; 
  
  }
  
  #Ptitle1{
     display: block;
     float: left;
     height: 43px;
     width: auto;
     margin-left: 4%;
     padding-top: .85%;
     color: #FFF;
     font-size: 20pt;
      
  }
  
  #mSign{
     display: block;
     float: left;
     width: auto;
     height: 43px;
     padding-left: 1%;
     padding-top: .85%;  
  }
  
  #DisPrice1{
     display: block;
     float: left;
     width: auto;
     height: 43px;
     padding-top: .85%;
     padding-left: .7%;
     padding-right: 2%;
     font-size: 20pt;
     color: #FFF;
      
  }
  

  #MstrScroll{
     height: 45px;
     width: 100%;
     overflow: hidden;
  }
  	
  div.scrollDrinks {
     background: #444;
     overflow: auto;
     white-space: nowrap;
     font-size: 14pt;
     height: auto;
  }
  
  .scrollDrinks a {
     display: inline-block;
     color: #FFF;
     text-align: center;
     font-weight: bold;
     padding: 16px;
     text-decoration: none;
  }
  
  .scrollDrinks a:hover {
     background: #777;
  }

  .scrollDrinks a:focus {
     background: #08A;
  }
  
  
  #dBoxHead{
    float: left;
    /*width: 227px;*/
    width: 100%;
    height: auto;
    margin-left: 0%;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #08A;    
	 text-align: center;
	 color: #FFF; 
	 font-weight: bold;
	 font-size: 18pt; 
    text-shadow: 2px 2px 2px #000;	    
    
  }

  #BizTitle {
    display: block;
    float: left;
    /*width: 227px;*/
    width: 40%;
    height: 35px;
    margin-left: 1%;
    margin-right: 4%;
    /*margin-right: 53px;*/
    margin-top: 1%; 
    padding: 10px 10px 10px 10px;
    
  	 text-align:center;
  	 font-size: 18pt;
  	 font-weight: bold;
  	 color: #FFF;
    text-shadow: 2px 2px 2px #000;
    
    background: #08A;  	 
  	 border: 4px solid #000;
  	 border-radius: 8px 25px 10px 25px;
  	 box-shadow: inset 2px 2px 2px 4px #fff;     
  }
    
  #dBoxBody{
    float: left;
    /*width: 227px;*/
    width: 100%;
    height: auto;
    margin-left: 0%;  	
    
  }
  
    #dBoxFoot{
    float: left;
    /*width: 227px;*/
    width: 100%;
    height: auto;
    margin-left: 0%;
    padding-top: 2%;
    padding-bottom: 2%;  	
    background: #08A;
  }
  
  #SelContainer{
     display: block;
     width:95%;
	  height:300px;
	  float: left;
	  /*border: 2px solid #000;*/
	  margin-top: 15px;       
  }
  
  .pWSide {
    display: block;
    float: left;
    width: 22%;
    height: 25px;
    margin-top: 1.2%;
    margin-bottom: 1%;
    padding-top: 3%;
    padding-bottom: 3%;
    background: #333;
    border: 2px solid #AAA;
	 text-align: center;
	 color: #999; 
	 font-weight: bold;
	 font-size: 16pt; 
	 cursor: pointer;       
  }
  
  #pSelector1, #pSelector2, #pSelector3, #pSelector4, #pSelector5, #pSelector6,
  #pSelector7, #pSelector8, #pSelector9, #pSelector10, #pSelector11, #pSelector12
  #pSelector13, #pSelector14, #pSelector15, #pSelector16, #pSelector17, #pSelector18,
  #pSelector19, #pSelector20 {
     display: none;
  }
  
  .pWrapper{
  	 
    width: 100%;
    height: auto;     
    background: #333;        
  }
  
  .pWrapper2{
  	float: left; 
    width: 49.5%;
    height: auto;     
    background: #333;        
  }
  
  .pWrapper3{
  	float: left; 
    width: 27%;
    height: auto;     
    margin-top: .1%; 
    margin-left: .5%;            
  }
  
  .pWrapper4{
  	float: left; 
    width: 35%;
    height: auto;     
    margin-top: .1%; 
    margin-left: .8%;            
  }  

  .pWrapper5{
  	float: left; 
    width: 35%;
    height: auto;     
    margin-top: .1%; 
    margin-left: .8%;            
  }
  
  #mWrap{
   
  	float: left; 
    width: 35%; 
    height: auto;     
  }

  .cmbWrap{
    display: block;
  	float: left; 
    width: 18%; 
    height: auto;     
  }

  .cmbTitleWrap{
   
  	float: left; 
    width: 27%; 
    height: auto;
    margin-right: 4px;
  }

  .mcTitleWrap{
  
  	float: left; 
    width: 100%; 
    height: 45px;
    display: block;
    /*border: 2px solid #000;*/
    background: #666;    
  }

  .cmbWraps{
    display: block;
  	float: left; 
    width: 100%; 
    height: auto;
    margin-bottom: 3px;  
  }
    
  .cmbTitles{
  	float: left; 
    width: 27%; 
    height: auto;  
  }

  .cmbTitles1{
  	float: left; 
    width: 27%; 
    /*height: auto;*/
    margin-left: 5%;
    margin-right: 3.5%;  
  }
      
  .pSel {
    width: 100%;
    height: 45px;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 5%;
    background: #333;
    border: 2px solid #AAA;
	 text-align: center;
	 color: #999; 
	 font-weight: bold;
	 font-size: 16pt; 
	 cursor: pointer;       
  }
  
  .pSel:active{
     background: #777;
  }
  
  .pSel2 {
  	 float: left;
    width: 72%;
    height: 45px;
/*    margin-top: 1%;
    margin-bottom: 1%;
*/    
    margin-right: 1px;    
    padding-top: 5%;
    background: #333;
    border: 2px solid #AAA;
	 text-align: center;
	 color: #999; 
	 font-weight: bold;
	 font-size: 16pt; 
	 cursor: pointer;       
  }
  
  .pSel3 {
  	 float: left;
    width: 23.3%;
    height: 45px;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 5%;
    background: #333;

    border: 2px solid #AAA; 
	 text-align: center;
 
	 color: #999; 
	 font-weight: bold;
	 font-size: 16pt;
	 cursor: pointer; 
	        
  }

  .pSel4 {
    width: 100%;
    height: 45px;
    margin-top: 1%;
    margin-bottom: 1%;
    background: #333;
    border: 2px solid #AAA;
	 text-align: center;
	 color: #999; 
	 font-weight: bold;
	 font-size: 16pt; 
	 cursor: default;       
  }

  .pSel5 {
    width: 100%;
    height: 45px;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 5%;
	 text-align: center;
	 color: #FFF; 
	 font-weight: bold;
	 font-size: 16pt; 
	 cursor: pointer;
	 text-shadow: 2px 2px 2px #000;       
  }
  
  #pS17{
     float: left;
     width: 97.5%;
     height: 45px;
     margin-top: 1%;
     margin-bottom: 1%;
     padding-top: 5%;
     background: #333;
     border: 2px solid #AAA;
	 text-align: center;
	 color: #999; 
	 font-weight: bold;
	 font-size: 16pt; 
	 cursor: pointer;       
  }

  #pS19{
     float: left;
     width: 97.5%;
     height: 45px;
     margin-top: 1%;
     margin-bottom: 1%;
     padding-top: 5%;
     background: #333;
     border: 2px solid #AAA;
	 text-align: center;
	 color: #999; 
	 font-weight: bold;
	 font-size: 16pt; 
	 cursor: pointer;       
  }   

  #pS20{
     float: left;
     width: 97.5%;
     height: 45px;
     margin-top: 1%;
     margin-bottom: 1%;
     padding-top: 5%;
     background: #333;
     border: 2px solid #AAA;
	 text-align: center;
	 color: #999; 
	 font-weight: bold;
	 font-size: 16pt; 
	 cursor: pointer;       
  }
        
  .pIceSel {
 	
    width: 100%;
    height: 45px;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 5%;
    background: #333;
    border: 2px solid #AAA;
	 text-align: right;
	 color: #999; 
	 font-weight: bold;
	 font-size: 16pt; 
	 cursor: pointer;       
  }
  
  .btn1 {
    float: right;
    width: 125px;
    height: 42px;
	 font-weight: bold;
	 font-size: 14pt; 
	 margin-right: 4px;
	 margin-left: 5px;    
  }
  
  .btn2 {
    float: right;
    width: auto;
    height: auto;
	 font-weight: bold;
	 font-size: 16pt; 
	 margin-right: 2%;
	 cursor: pointer; 
  }  

  .btn3 {
    float: left;
    width: 100%;
    height: 50px;
	 font-weight: bold;
	 font-size: 16pt; 
     border: 1px solid #000;
     background: linear-gradient(to right, #BBB, #EEE);
	 cursor: pointer; 
  }
  
  .btn3:active{
     background: #EEE;
  }
    
  .stPages{
    float: left;
    display: inline-block; 
    width: 95%; 
    height: 35px;
    background: #000; 
    margin-left: 5%; 
    margin-right: 12px;
    margin-bottom: 10px; 
    margin-top: 8px; 
    padding-top: 5px;
	 border-radius: 4px; 
	 border: 3px solid #08A; 
	 text-align: center;
	 color: #FFF; 
	 font-weight: bold;
	 font-size: 16pt; 
	 cursor: pointer;
  }
  
  
  .pNtxt {
    float: left;
    width: 45px;
    height:35px;
    background: #FFF;
    margin-left: 15px;
    margin-right: 3px;
    margin-top: 8px; 
    
    padding-top: 11px;       
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    font-size: 14pt;
    cursor: pointer;  
  }
  
  .pNtxt2 {
    float: right;
    width: 45px;
    height:35px;
    background: #FFF;
    margin-left: 15px;
    margin-right: 3px;
    margin-top: 8px; 
    
    padding-top: 11px;       
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    font-size: 14pt;
    cursor: pointer;     
  } 
   
  #pTitle {
     font-weight: bold; 
     padding-left: 13%;  
  }
  
  #pDisplay {
     display: block; 
     margin-left: 3%; 
     width: 215px; 
     height: 35px;
     background: #999; 
     font-size: 16pt; 
     font-weight: bold;
     text-align: center; 
     color: #000;
     padding-top: 2px;
     border: 3px solid #000;   
  }
  
  #pkeypad {
     display: block; 
     width: 260px; 
     background: #999; 
     margin-top:14px;
	  margin-left: 6%;
	  border: 3px solid #333;
  }
  
  .pData {
    display: inline-block; 
    width: 50px; 
    height: 50px;
	 background: #000; 
	 margin-left: 15px;
	 margin-right: 9px;
	 margin-bottom: 10px; 
	 margin-top: 4px;
	 color: #FFF; 
	 font-size: 20pt;
	 font-weight: bold; 
	 text-align: center; 
	 padding-top: 3px;
	 border-radius: 4px; 
	 border: 3px solid #555; 
	 cursor: pointer;
  }
  
  .pSelect1 {
    
    float: left; 
    width: 23.9%; 
    height: 25px;    
	 background: #000; 
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 1.8%;
    padding-bottom: 1.8%;
	 border-radius: 4px; 
	 border: 3px solid #555; 
	 text-align: center; 
	 font-weight: bold;
	 font-size: 16pt;
	 color: #FFF; 
	 cursor: pointer;  
  }
  
   #pSelector1 {
    display: block;
    float: left; 
    width: 26%; 
    height: 500px;      
   }
      
   #pSelector2 {
    float: left; 
    width: 24%; 
    height: auto;
    margin-top: .1%; 
    margin-left: .8%;  
   }
   
   #pSelector3 {
    float: left; 
    width: 70%; 
    height: auto;
    margin-top: .1%; 
    margin-left: .8%;  
   } 

   #pSelector5, #pSelector9 {
    float: left; 
    width: 26%; 
    height: auto;      
   }
      
   #pSelector6, #pSelector7, #pSelector8, #pSelector12{
    float: left; 
    width: 72%; 
    height: auto;
    margin-top: .01%; 
    margin-left: .8%;    
   }
      
   #pSelector10 {      
    float: left; 
    width: 47%; 
    height: auto;
    margin-left: .35%;      
   }
   
   #pSelector13 {
	 display: "none";    
	 border: 3px solid #000;            
     float: left; 
     width: 303px; 
     height: auto;
     margin-left: 18.5%;
    /*margin-top: .5%;*/      
   }         
     
   #pSelector14,  #pSelector21 {            
    float: left; 
    width: 100%; 
    height: auto;
    margin-left: .35%;
    /*margin-top: .5%;*/      
   }   

   #pSelector15, #pSelector16 {
    float: left; 
    width: 47%; 
    height: auto;
    margin-top: .1%; 
    margin-left: .8%;
    padding-left: .87%;
    padding-right: .5%;   
   }
      
   #pSelector17, #pSelector18 {
    display: block;         
    float: left; 
    width: 100%; 
    height: auto;      
   }
   
   #pSelector21 {            
    float: left;
    border: 1px solid #000; 
    width: 99%; 
    height: auto;
    margin-left: .35%;
    /*margin-top: .5%;*/      
   }    
   
   #p2OverlayLeft {
     display: none;
     position: absolute;
     left: .68%;
     top: 17%;
     width: 49.1%;
     height: 68.5%;
     background: #888;
     opacity: .5;
     z-index: 5px;
   }  
   
   #p2OverlayRight {
     display: none;
     position: absolute;
     left: 50.1%;
     top: 17%;
     width: 49.1%;
     height: 68.5%;
     background: #888;
     opacity: .5;
     z-index: 5px;
   }
   
   .fW1{
      display: block;
      float: left;
      height: auto;
      width: 100%;
   }
 
    .fW2{
      display: block;
      float: left;
      height: auto;
      width: 100%;
      margin-left: 36%;
   }
   
   .pfCont{
      display: block;
      float: left;      
      height: auto;
      width: auto;   
      margin-right: 3px;   
   }   
   
   .pfT1{
      display: block;
      float: left;      
      height: auto;
      width: 87%;
	  text-align: right; 
	  font-weight: bold;
	  font-size: 16pt;	          
   }
   
   .pfT2{
      display: block;
      float: left;      
      height: auto;
      width: 37%;
	  text-align: left; 
	  font-weight: bold;
	  font-size: 16pt;	          
   }   

   .pfDis{
      float: left;
      height: auto;
      width: 10%;
      padding-left: 4px;
	  text-align: center; 
	  font-weight: bold;
	  font-size: 16pt;	          
   } 
   
   .pfDis1{
      float: left;
      height: auto;
      width: 10%;
      padding-left: 4px;
	  text-align: left; 
	  font-weight: bold;
	  font-size: 16pt;	          
   }
   
	  .psbList{
		 float: left; 
		 width: 78%;
		 height: auto;

	  }
	  
	  .psOrder1{
		 float: left;
		 width: 98%;
		 height: auto;
	     font-weight: bold;
	     font-size: 16pt;	     
	     margin-bottom: 15px;
	     border: 1px solid #000;
			    		  
	  }

	  .psub1{
		 float: left;
		 width: 78%;
		 height: auto;
	     font-weight: bold;
	     text-align: left;		  
	  }
	  
	  .psub2, .psub6{
		 float: left;
		 width: 78%;
		 height: auto;
		 margin-left: 18%;
	     font-weight: bold;
	     text-align: left;
	    		  
	  }	  	  

	  .psub3{
		 float: left;
		 width: 78%;
		 height: auto;
	    font-weight: bold;
	    text-align: left;		  
	  }	

	  .psub4{
		 float: left;
		 width: 80%;
		 margin-top: 4%;		 
		 height: auto;
	    font-weight: bold;
	    text-align: left;		  
	  }
	  
	  .psub5{
		 float: left;
		 width: 50%;
		 height: auto;
		 margin-left: 18%;
	     font-weight: bold;
	     text-align: left;	      
	  }	
	  
	  .pmBtn{
		  float: left;
		  width: 20%;
		  height: 25px;
		  background: #000;
		  color: #FFF;
		  font-weight: bold;
		  text-align: center;
		  border: 1px solid #08A;
		  margin-bottom: 4px;
		  padding-top: 7px;
		  padding-bottom: 7px;
		  cursor: pointer;
	  }             	
}