/* This is the on load reset values */ 
  * {padding: 0; margin: 0;}
  
  body { font-family: sans-serif; color: #000; background: #E5DAC0;}


/*=============================================
  =        iPads portrait and landscape       = 
  ============================================= */
@media only screen and (min-width:481px) and (max-width:699px) {
	
	#stContainer {	   
     display: block;
     width:100%;
	  height:100%;
	  float: left;
	  /*border: 2px solid #000;*/   	   
	}
	
  #BizTitle {

    float: left;
    width: 90%;
    height: 35px;
    margin-left: 3%;
    margin-right: 1%;
    /*margin-right: 53px;*/
    margin-top: 8%; 
    padding: 10px 10px 10px 10px;
    
  	 text-align:center;
  	 font-size: 23pt;
  	 font-weight: bold;
  	 color: #FFF;
    text-shadow: 2px 2px 2px #000;
    
    background: #08A;  	 
  	 border: 4px solid #000;
  	 border-radius: 8px 25px 10px 25px;
  	 box-shadow: inset 2px 2px 2px 4px #fff;     
  }
  
  #SelContainer{
     display: block;
     width:95%;
	  height:300px;
	  float: left;
	  /*border: 2px solid #000;*/
	  margin-top: 15px;       
  }
  	
  .stPages{
    float: left;
    display: inline-block; 
    width: 95%; 
    height: 35px;
    background: #000; 
    margin-left: 5%; 
    margin-right: 12px;
    margin-bottom: 10px; 
    margin-top: 8px; 
    padding-top: 5px;
	 border-radius: 4px; 
	 border: 3px solid #08A; 
	 text-align: center;
	 color: #FFF; 
	 font-weight: bold;
	 font-size: 16pt; 
	 cursor: pointer;
  }	
}